<div class="w3-card-4 w3-margin w3-white">
  <img [src]="blog.imgUrl" alt="Nature" style="width: 100%" class="image" />
  <div class="w3-container">
    <h3>
      <b>{{ blog.title }}</b>
    </h3>
    <h5>
      {{ blog.titleDescription
      }}<span class="w3-opacity">{{ blog.titleDate }}</span>
    </h5>
  </div>

  <div class="w3-container">
    <p>
      {{isActive ? blog.description : (blog.description.slice(0, charLength)+'...')}}
    </p>
    <div class="w3-row">
      <div class="w3-col m8 s12">
        <p>
          <button class="w3-button w3-padding-large w3-white w3-border" (click)="more()" [style.backgroundColor]="isActive ? '#d9dfe0 !important' : '#deeadc !important'">
            <b>{{isActive  ? "show less" : "show more"}}</b>
          </button>
        </p>
      </div>
      <div class="w3-col m4 w3-hide-small">
        <p>
          <span class="w3-padding-large w3-right"
            ><b>Comments  </b> <span class="w3-tag">0</span></span
          >
        </p>
      </div>
    </div>
  </div>
</div>

